.form {
  composes: stack from "@/styles/Stack.module.css";
  padding: var(--s2);
  background-color: var(--background-dark);
  align-items: flex-start;
}

.form > * + *,
.stack > * + * {
  --stack-space: var(--s2);
}

.stack {
  composes: stack from "@/styles/Stack.module.css";
}

.inputWrapper {
  composes: inputWrapper from "@/styles/InputWrapper.module.css";
}

.inputWrapperColumn {
  composes: inputWrapperColumn from "@/styles/InputWrapper.module.css";
  justify-content: flex-start;
  align-items: flex-start;
}

.inputWrapperColumn label {
  font-weight: 600;
}

.error {
  border-color: var(--error-color);
}

.textError {
  color: var(--error-color);
  font-size: small;
}

.flex {
  composes: dFlex from "../../../styles/DFlex.module.css";
  flex-wrap: wrap;
  gap: var(--s2) !important;
}

@media (max-width: 500px) {
  .stack {
    align-items: center;
  }

  .form {
    align-items: center;
  }
}
