.form {
  composes: stack from "@/styles/Stack.module.css";
  padding: var(--s2);
  background-color: var(--background-dark);
  justify-content: center;
  align-items: center;
}

.form > * + * {
  --stack-space: var(--s3);
}

.inputWrapper {
  composes: inputWrapper from "@/styles/InputWrapper.module.css";
}

.inputWrapperColumn {
  composes: inputWrapperColumn from "@/styles/InputWrapper.module.css";
  justify-content: flex-start;
  align-items: flex-start;
}

.inputWrapper select {
  cursor: pointer;
}

.flex {
  composes: dFlex from "@/styles/DFlex.module.css";
  --gap: var(--s1);
  --justify: center;
  --align: center;
}

.wrap {
  --gap: var(--s0);
  composes: wrap from "@/styles/Wrap.module.css";
  justify-content: center;
}

.styledCheckbox {
  composes: styledCheckbox from "../../../styles/StyledCheckbox.styles.css";
}

.buttonsFlex {
  width: 100%;
  --align: center;
}

.deleteButton {
  background-color: var(--error-color);
}

.deleteButton:hover {
  opacity: 0.8;
  background-color: var(--error-color);
  border-color: var(--error-color);
}

.title {
  color: var(--secondary);
}

.overtime {
  color: white;
}

.overtime p {
  margin-bottom: 5px;
}

.authorized {
  color: var(--success-color);
}
.unauthorized {
  color: var(--error-color);
}
